<!DOCTYPE html>
<html>
<head>
	<title>Login Registration</title>
	<script src="angular/angular.js"></script>
	<script src="angular-route/angular-route.js"></script>
	<script src="angular-cookies/angular-cookies.js"></script>
	<script src="assets/app.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="controller as co">
		<form ng-submit="co.register()">
			<input type="text" ng-model="co.newUser.firstName">
			<input type="text" ng-model="co.newUser.lastName">
			<input type="text" ng-model="co.newUser.email">
			<input type="text" ng-model="co.newUser.password">
			<input type="text" ng-model="co.newUser.password_confirm">
			<input type="text" ng-model="co.newUser.birthday">
			<input type="submit" value="register">
		</form>
		<p ng-if="co.errors">{{co.errors}}</p>
	</div>
</body>
</html>