<div ng-controller="conone as co">
	<h1>Orders controller!</h1>
	<form>
		First Name: <input type="text" ng-model="co.user.first">
		Last Name: <input type="text" ng-model="co.user.last">
		Favorite Language: <input type="text" ng-model="co.user.lang">
		<input type="submit" value="Create User" ng-click="co.addUser()">
	</form>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Favorite Language</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="user in co.users track by $index">
			<td>{{user.first}}</td>
			<td>{{user.last}}</td>
			<td>{{user.lang}}</td>
			<td><button ng-click="co.removeUser($index)">Delete User</button></td>
		</tr>
	</table>
</div>