<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form id="form" action="/success" method="post">
		Name: <input type="text" name="name">
		Location: <select form="form" name="location">
			<option>DC</option>
			<option>Seattle</option>
			<option>Chicago</option>
		</select>
		Language: <select form="form" name="language">
			<option>Python</option>
			<option>JavaScript</option>
			<option>Ruby</option>
		</select>
		Comments: <textarea form="form" name="comments"></textarea>
		<input type="submit" value="Submit!">
	</form>
</body>
</html>