<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Submitted Information</h1>
	<p>Name: <%= name %></p>
	<p>Location: <%= location %></p>
	<p>Language: <%= language %></p>
	<p>Comment: <%= comments %></p>
</body>
</html>