<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<form action="/quotes" method="post">
		Your name: <input type="text" name="name">
		Your quote: <input type="text" name="quote">
		<input type="submit" value="Add my quote!">
	</form>
	<a href="/quotes"><button>Skip to the quotes!</button></a>
</body>
</html>